<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>AllerMatch</title>
  </head>

  

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">AllerMatch</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/allergies">Allergies</a>
            </li>
          </ul>
        </div>
      </nav>


      <div class = "mt-5">
        
    </div>

      <div class = "ml-4 mr-4">
      <div class="card-deck">
        <div class="card" style="width: 12rem;">
          <img class="card-img-top" src={{images[0]}} alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title" style = "text-align: center;">Your first choice</h4>
            <a href = {{urls[0]}} class="btn btn-secondary" target = "_blank">Recipe</a>
            <p class="card-text"><small class="text-muted">Last updated 1 mins ago</small></p>
          </div>
        </div>
        <div class="card" style="width: 12rem;">
          <img class="card-img-top" src={{images[1]}}  alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title" style = "text-align: center;">A second alternative</h4>
            <a href = {{urls[1]}} class="btn btn-secondary" target = "_blank">Recipe</a>
            <p class="card-text"><small class="text-muted">Last updated 1 mins ago</small></p>
          </div>
        </div>
        <div class="card" style="width: 12rem;">
          <img class="card-img-top" src={{images[2]}}  alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title" style = "text-align: center;">Not too far on third</h4>
            <a href = {{urls[2]}} class="btn btn-secondary" target = "_blank">Recipe</a>
            <p class="card-text"><small class="text-muted">Last updated 1 mins ago</small></p>
          </div>
        </div>
      </div>

    </div>

    <div class = "mt-5">

    </div>

    <div class = "ml-4 mr-4">
      <div class="card-deck">
        <div class="card" style="width: 12rem;">
          <img class="card-img-top" src= {{images[3]}} alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title" style = "text-align: center;">Something different</h4>
            <a href = {{urls[3]}} class="btn btn-secondary" target = "_blank">Recipe</a>
            <p class="card-text"><small class="text-muted">Last updated 1 mins ago</small></p>
          </div>
        </div>
        <div class="card" style="width: 12rem;">
          <img class="card-img-top" src= {{images[4]}}  alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title" style = "text-align: center;">Another choice</h4>
            <a href = {{urls[4]}} class="btn btn-secondary" target = "_blank">Recipe</a>
            <p class="card-text"><small class="text-muted">Last updated 1 mins ago</small></p>
          </div>
        </div>
        <div class="card" style="width: 12rem;">
          <img class="card-img-top" src= {{images[5]}} alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title" style = "text-align: center;">A last recommendation</h4>
            <a href = {{urls[5]}} class="btn btn-secondary" target = "_blank">Recipe</a>
            <p class="card-text"><small class="text-muted">Last updated 1 mins ago</small></p>
          </div>
        </div>
      </div>

    </div>
</body>
</html>